---
title: JAM Stack News API
layout: base.njk
---

<div class="container">
    <h1> JAM Stack News API</h1>
</div>

<p> Pre-rendering files and serving them from a CDN without needing web servers.
JAM Stack architecture decouples the front end presentation layer from the backend layer making it more secure and faster.
I will be using Eleventy as SSG.
</p>

{% for item in news %}
    <a href="/{{item.country}}">
        <img src="https://www.countryflags.io/{{item.country}}/shiny/64.png">
        {{item.country}}
    </a>

{% endfor %}