---
title: JAM Stack About
layout: base.njk
---

<div class="container">
    <h1> JAM Stack About</h1>
</div>

<p> Pre-rendering files and serving them from a CDN without needing web servers.
JAM Stack architecture decouples the front end presentation layer from the backend layer making it more secure and faster.
I will be using Eleventy as SSG.
</p>
